body {
    background-color: #E5E5E5;  
    font-family: 'Roboto', sans-serif;
}

main {
    background-image: url(../imagem/bg-repeat.jpg);
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    min-width: 100vw;
}

.conteudo, .form {
    display: flex;
    align-items: center;
    justify-content: center;
}


.conteudo .titulo {
    font-size: 40px;
    font-weight: 900;
    width: 400px;
    height: 300px;
    color: #ffffff;
}

.conteudo .texto {
    font-size: 20px;
    font-weight: 400;
    width: 400px;
    height: 54px;
    color: #ffffff;
    padding-top: 11px;
}

.formulario {
    background-color: #ffffff;
    margin-top: 12px;
    width: 340px;
    height: 378px;
    padding: 21px;
}

.nome, .email, .telefone, .mensagem {
    font-size: 15px;
    font-weight: 700;
    width: 298px;
    height: 35.11px;
    border: 1px solid #000000;
    padding-left: 10px;
    border-radius: 5px;
}

.nome {
    margin-top: 0;
}

.mensagem {
    width: 298px;
    height: 100px;
    padding-top: 8px;
}

.mensagem::placeholder {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.campo {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
}

.enviar {
    font-size: 15px;
    font-weight: 700;
    width: 298px;
    height: 41.13px;
    border: 1px solid #3ccc87;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #3ccc87;
    color: #ffffff;
    cursor: pointer;
}

/* PARA INTERAcAO COM A TELA */

.obrigatorio {
    position: relative;
    font-size: 8px;
    color: #f52e2e;
    top: 0px;
    visibility: hidden;
}

.nao-preenchido {
    visibility: visible;
}